chromadb==0.6.3
fastapi==0.115.12
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.51
langchain-text-splitters==0.3.8
litellm==1.65.4.post1
pandas==2.2.3
plotly==6.0.1
pre-commit==4.2.0
pydantic==2.11.2
pydantic-core==2.33.1
pydantic-settings==2.8.1
pypdf==5.4.0
python-docx==1.1.2
python-dotenv==1.1.0
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
sentence-transformers==4.0.2
sqlalchemy==2.0.40
unstructured==0.17.2
unstructured-client==0.32.2
unstructured-inference==0.8.10
unstructured-pytesseract==0.3.15
uvicorn==0.34.0
